###  <em>Lesson 1 - Lists and Tuples</em>

&nbsp;

In [1]:
country_names = ['Brasil', 'Argentina', 'China', 'Canadá', 'Japão']
print(country_names)

['Brasil', 'Argentina', 'China', 'Canadá', 'Japão']

In [4]:
print("List size: ", len(country_names))

List size:  5

In [5]:
print('Country: ', country_names[-1])

Country:  Japão

In [6]:
print('Country: ', country_names[4])

Country:  Japão

In [9]:
country_names[4] = 'Colômbia'
print('Country: ', country_names[-1])
print(country_names)

Country:  Colômbia
['Brasil', 'Argentina', 'China', 'Canadá', 'Colômbia']

In [10]:
print(country_names[1:3]) #the last position is not displayed

['Argentina', 'China']

In [11]:
print(country_names[1:-1])

['Argentina', 'China', 'Canadá']

In [12]:
print(country_names[2:])

['China', 'Canadá', 'Colômbia']

In [13]:
print(country_names[:3])

['Brasil', 'Argentina', 'China']

In [14]:
print(country_names[:])

['Brasil', 'Argentina', 'China', 'Canadá', 'Colômbia']

In [15]:
print(country_names[::2]) #step - 2 by 2

['Brasil', 'China', 'Colômbia']

In [16]:
print(country_names[::-1]) #inverting a list

['Colômbia', 'Canadá', 'China', 'Argentina', 'Brasil']

In [17]:
print("Brasil" in country_names)

True

In [18]:
print("Itália" in country_names)

False

In [19]:
print("Canadá" not in country_names)

False

In [20]:
print("Portugal" not in country_names)

True

In [28]:
capitals_list = []

In [30]:
capitals_list.append('Brasília')
capitals_list.append('Santiago')
capitals_list.append('Caracas')
capitals_list.append('Montevideo')
capitals_list.append('Buenos Aires')

print(capitals_list)

['Brasília', 'Santiago', 'Caracas', 'Montevideo', 'Buenos Aires']

In [31]:
capitals_list.insert(2, "Paris")
print(capitals_list)

['Brasília', 'Santiago', 'Paris', 'Caracas', 'Montevideo', 'Buenos Aires']

In [32]:
capitals_list.remove("Buenos Aires")
print(capitals_list)

['Brasília', 'Santiago', 'Paris', 'Caracas', 'Montevideo']

In [34]:
removed = capitals_list.pop(2)
print(capitals_list, removed)

['Brasília', 'Santiago', 'Montevideo'] Caracas

In [1]:
country_names = ('Brasil', 'Argentina', 'China', 'Canadá', 'Japão') #tuple

In [2]:
country_names = 'Brasil', 'Argentina', 'China', 'Canadá', 'Japão' #it's a tuple too

In [3]:
type(country_names)

tuple

In [4]:
state_name = 'São Paulo',
print(state_name, type(state_name))

('São Paulo',) <class 'tuple'>

In [5]:
len(state_name)

1

In [7]:
country_names[::2]

('Brasil', 'China', 'Japão')

In [9]:
country_names[0]

'Brasil'

In [10]:
a, b, c, d, e = country_names

In [11]:
print(a,e) #unpacking

Brasil Japão

In [12]:
print(*country_names)

Brasil Argentina China Canadá Japão

In [13]:
print(country_names)

('Brasil', 'Argentina', 'China', 'Canadá', 'Japão')

In [14]:
print(c,d)

China Canadá

In [15]:
# Criando uma lista vazia.
listavazia = []

# Criando uma lista com alguns valores.
numeros = [1, 3, 7, 8, 9]

# Listas podem mesclar diferentes tipos de valores.
listamista = [14, "let's code", 0.1, True]

# Acessamos cada elemento da lista através de um índice entre colchetes.
# Os índices começam em 0.
print(numeros[0])
print(numeros[1])
print(numeros[2])
print(numeros[3])
print(numeros[4])

# Listas são mutáveis: podemos alterar o valor de seus itens.
numeros[2] = 5
print(numeros)

# Um jeito inteligente de trabalhar com listas é utilizando loops.
indice = 0
while indice < 5:
    print(numeros[indice])
    indice = indice + 1

1
3
7
8
9
[1, 3, 5, 8, 9]
1
3
5
8
9

In [16]:
indice = 0
while indice < len(numeros):
    print(numeros[indice])
    indice = indice + 1

1
3
5
8
9

In [17]:
animais = []
resposta = 's'
while resposta == 's' or resposta == 'S':
    resposta = input('Deseja adicionar um animal à lista (s/n)? ')
    if (resposta == 's' or resposta == 'S'):
        animal = input('Digite o nome do animal: ')
        animais.append(animal) # adiciona o novo animal à lista
print(animais)

Deseja adicionar um animal à lista (s/n)? s
Digite o nome do animal: Cavalo
Deseja adicionar um animal à lista (s/n)? s
Digite o nome do animal: Macaco
Deseja adicionar um animal à lista (s/n)? s
Digite o nome do animal: Camelo
Deseja adicionar um animal à lista (s/n)? S
Digite o nome do animal: Leão
Deseja adicionar um animal à lista (s/n)? n
['Cavalo', 'Macaco', 'Camelo', 'Leão']

In [18]:
animal = input('Digite o animal a ser deletado da lista: ')
animais.remove(animal)
print(animais)

Digite o animal a ser deletado da lista: Lontra

ValueError: list.remove(x): x not in list

In [19]:
animal = input('Digite o animal a ser deletado da lista: ')
animais.remove(animal)
print(animais)

Digite o animal a ser deletado da lista: Leão
['Cavalo', 'Macaco', 'Camelo']

In [20]:
jogadores = ['Ronaldo', 'Rivaldo', 'Ronaldo', 'Adriano']
ronaldos = jogadores.count('Ronaldo')
print(jogadores)
print('Quantidade de Ronaldos: ', ronaldos)

['Ronaldo', 'Rivaldo', 'Ronaldo', 'Adriano']
Quantidade de Ronaldos:  2

In [21]:
rivaldo = jogadores.index('Rivaldo')
print("Rivaldo está na posição ", rivaldo)

Rivaldo está na posição  1

In [22]:
jogadores.sort()
print("jogadores em ordem alfabética: ", jogadores)

jogadores em ordem alfabética:  ['Adriano', 'Rivaldo', 'Ronaldo', 'Ronaldo']

In [23]:
digitos = [3, 1, 4, 1, 5, 9, 2, 6, 5]
maior = max(digitos)
menor = min(digitos)
print(digitos)
print("Maior = ", maior, "e menor = ", menor)

[3, 1, 4, 1, 5, 9, 2, 6, 5]
Maior =  9 e menor =  1

In [24]:
# Uma tupla é uma coleção de objetos que lembra muito as listas.

# Ao invés de colchetes, usamos parênteses para declarar as tuplas:
numeros = (1,2,3,5,7,11)

# Podemos declarar sem parênteses também:
numeros = 1,2,3,5,7,11

# Para acessar um valor, utilizamos a mesma sintaxe das listas:
print(numeros[4])
print(type(numeros))

'''
Porém, tuplas são imutáveis: não é possível adicionar ou modificar valores.
Descomentar a linha abaixo provocará erro de execução:
'''
# numeros[4] = 8

# Podemos gerar uma tupla a partir de uma lista...
lista1 = [3, 1, 4, 1, 5, 9, 2, 6, 5]
tupla1 = tuple(lista1)
print(tupla1)

# ...ou uma lista a partir de uma tupla:
tupla2 = [1, 6, 1, 8]
lista2 = list(tupla2)
print(lista2)

# Também pode-se usar o unpacking com uma tupla:
a, b, c, d, e, f = numeros # "desempacota" a tupla numeros
print("O primeiro vale:", a, "e o ultimo vale:", f)

7
<class 'tuple'>
(3, 1, 4, 1, 5, 9, 2, 6, 5)
[1, 6, 1, 8]
O primeiro vale: 1 e o ultimo vale: 11